html {
    height: 100%;
}

header {
    text-align: center;
    background-color: black;
    height: 10vh;
}

.title {
    font-size: 4vh;
    font-weight: bolder;
    color: #7011d6;
}

.sub-title {
    font-size: 2vh;
    font-weight: bold;
    padding-bottom: 1vh;
    color: white;
}

body {
    margin: 0 auto;
    font-family: Oswald, sans-serif;
    background-position: center;
    background-size: cover;
    background-color: gray;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
}

.menu {
    position: sticky;
    top: 0;
    background-color: #7011d6;
    color: white;
    margin: 0 auto;
    overflow: hidden;
    align-content: center;
    height: 6vh;
}

.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 1.5vh 1vh;
    text-decoration: none;
    font-size: 2vh;
}

.menu-end {
    right: auto;
    float: right;
}

.weather {
    padding: 1em;
    display: flex;
    justify-content: center;
}

.card {
    font-size: 20px;
    background-color: #000000d0;
    color: white;
    border-radius: 30px;
    justify-content: center;
    margin: 2em;
    text-transform: capitalize;
}

.info {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.weather.loading {
    visibility: hidden;
}